<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/global.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" type="text/javascript"></script>
  <script>




    var model = {
      user: "Alex",
      items: [
        {action: "Buy flowers", done: false},
        {action: "Buy beers", done: false},
        {action: "Go to class", done: true},
        {action: "Learn Angular", done: false}
      ]
    };

    var todoApp = angular.module("todoApp", []);

    todoApp.controller("ToDoController", function($scope){

      $scope.todo = model;

      $scope.addNewItem = function(todoText){
        $scope.todo.items.push({action: todoText, done: false});
      };

      $scope.warninglevel = function(){
        return $scope.incompleteCount() <3 ? "label-success" : "label-warning";
      };

      $scope.incompleteCount = function(){
        var count = 0;
        angular.forEach($scope.todo.items, function(item){
          if(!item.done){
            count++;
          }
        });
        return count;
      };



    });

  </script>
</head>
<body ng-controller="ToDoController">
<div class="page-header">
  <h1>{{todo.user}}'s To Do List
  <span class="label label-default">
    {{todo.items.length}}
  </span>
    <h1 ng-hide="incompleteCount()==0">Not done tasks
    <span class="label label-default" ng-class="warninglevel()">
      {{incompleteCount()}}
    </span>
    </h1>
    </h1>
</div>
<div class="panel">
  <div class="input-group">
    <input class="form-control" ng-model="todoText" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addNewItem(todoText)">
                      Add
                    </button>
                </span>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in todo.items">
      <td>
        {{item.action}}
      </td>
      <td>
        <input type="checkbox" ng-model="item.done"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>